/***** Mobile Navbar ***/

@mixin global-tools {
    & i, span {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    & i {
        font-weight:bold;
    }
}

@mixin logo {
    & .fiu-logo {
        margin:5px 0 5px 15px;
    }
    & img {
        max-width: 100%;
        height: $logo-size;
    }
}

@mixin global-tools-anchor {
    & a {
        text-decoration: none;
        color: $fiu-blue;
        font-weight:500;
        margin-right:15px;
        padding:5px 0 5px 0;
    }
    & a:hover {
        background-color: $fiu-gray-hover;
    }
    #search {
        padding-left:4px;
        padding-right:4px;
        margin-right:0px;
    }
    #menu {
        padding-left:9.2px;
        padding-right:9.2px;
    }
}

/***** Mobile Close Button ***/

@mixin mobile-close-button {
    a.close-button {
        display: flex;
        justify-content: end;
        margin-top: 12px;
        margin-bottom: 12px;
        text-decoration: none;
        color: $fiu-blue;

        & span,
        i {
            padding-top: 5px;
            padding-bottom: 5px;
            font-weight: bold;
        }

        & i {
            position: relative;
            top: 0.9px;
        }
    }

    @content
}

/***** Mobile Search Tab ***/

@mixin mobile-search-links {
    h5 {
        font-weight:bold;
        color:$fiu-blue;
    }
    li {
        margin: 0 10px 10px 10px;
        padding: 10px;
        list-style: none;
        background-color: $fiu-gray;
        & a {
            text-decoration: none;
            color:$fiu-blue;
            display: flex;
            align-items: center;
        }
        & i {
            font-size: 16px;
            margin-left: 10px;
            margin-right: 10px;
            font-weight: bold;
        }

        & span {
            font-weight: 600;
            font-size: 16px;
        }
    }
    .info-for {
        margin-top:16px;
    }
    .info-for-li {
        & a {
            margin-left:15px;
        }
    }
}


/***** Mobile Menu Tab ***/

@mixin mobile-menu {
    color: white;
    margin:0;
    padding:0;
    .menu-home-button {
            padding: 15px;
            padding-right:32px;
            padding-left:32px;
            background-color: $fiu-blue;
            & a {
                color: white !important;
            }
    }
    #mobile-menu-dropdown {
        li.dropdown-list {
            list-style: none;
            & button.dropdown-button {
                 display: flex;
                 align-items: center;
                 justify-content: space-between;
                 width: 100%;
                 height: 53.5px;
                 border: none;
                 padding: 0;
                 border-bottom: 0.5px solid $fiu-blue;
                 padding-right:15px;
                 padding-left:32px;
                 background-color: $fiu-blue-lighter;
                 color: white;
                 font-weight: 600;
                 outline: none;
                 & img {
                     width: 20px;
                     height:auto;
                 }
            }
            & ul.dropdown-items {
                display: none;
                padding:0;
                margin:0;
                li {
                    animation: slide 0.3s cubic-bezier(.76, .01, .59, 1.02);
                    list-style: none;
                    height: 53.5px;
                    display: flex;
                    align-items: center;
                    padding-left: 32px;
                    border-bottom: 0.5px solid #dcdcdc;
                    background-color: white;
                    & a {
                        color: $fiu-blue;
                        & span {
                            font-weight: 600;
                        }
                    }
                }
            }

            /** Background Color for Menu dropmenu lists **/
            & ul.about li:nth-last-of-type(-n+1) {
                background-color: $fiu-gray-menu !important;
            }
            & ul.locations li:nth-last-of-type(-n+4) {
                background-color: $fiu-gray-menu !important;
            }
            & ul.admissions li:nth-last-of-type(-n+3) {
                background-color: $fiu-gray-menu !important;
            }
            & ul.academics li:nth-last-of-type(-n+5) {
                background-color: $fiu-gray-menu !important;
            }
            & ul.research li:nth-last-of-type(-n+3) {
                background-color: $fiu-gray-menu !important;
            }
            & ul.student-life li:nth-last-of-type(-n+2) {
                background-color: $fiu-gray-menu !important;
            }
            & ul.athletics li:nth-last-of-type(-n+3) {
                background-color: $fiu-gray-menu !important;
            }
            & ul.alumni li:nth-last-of-type(-n+3) {
                background-color: $fiu-gray-menu !important;
            }
        }
    }

}

/***** Mobile Menu Dropdown JS ***/

@mixin menu-dropdown-js {
    #mobile-menu-dropdown {
        .active {
            display: flex !important;
            flex-direction: column;
            @keyframes slide {
                from {
                    font-size:0;
                    height:0;
                }

                to {
                    max-height: 100%;
                }
            }
        }



        button.dropdown-button {
            & i {
                .rotatingup {
                    animation: rotateup 1s;
                }

                .arrow {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}


