/***** Headings ***/

@mixin headings {
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Arvo',
        serif;
    }
    p, span {
        font-family: 'Open Sans',
        sans-serif;
    }
}

/***** Mobile Navbar ***/

@mixin mobile-navbar {
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px;
    position: relative;
    z-index: 15;
    height:48px;
    display: flex;
    align-items: center;

    & .fiu-logo {
        padding-left: 15px;
        & img {
            max-width: 100%;
            height: $logo-size;
        }
    }

    .global-tools {
        padding-right:15px;
        color: $fiu-blue;

        span {
            font-size: $global-tools-font-size;
        }
        & i,
        span {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        & a, i {
            text-decoration: none;
            color: $fiu-blue;
            font-weight: 500;
        }
        & a {
            padding-top:5px;
            padding-bottom: 5px;
        }
        a.search {
            margin-right:10px;
            padding-left:3px;
            padding-right:3px;
        }
        a.menu {
            padding-left:7.7px;
            padding-right:7.7px;
        }
        & i {
            font-size:20px;
            font-weight: 700 !important;
        }
        & a:hover {
            background-color: $fiu-gray-hover;
        }
    }
}


/***** Intro Vid Section ***/

@mixin intro-vid-sec {
    .intro-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        & video {
            position: absolute;
            top: 48px;
            left: 0;
            object-fit: cover;
            width: 100%;
            height: 450px;
            pointer-events: none;
        }

        .intro-vid-bg {
            z-index: 10;
            background-color: rgba(0, 0, 0, 0.4);

            & .vid-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 100%;
                height: 450px;
                padding-left: 15px;
                padding-right: 15px;

                & h1 {
                    color: white;
                    font-size: 35px;
                }

                & button {
                    outline-style: none;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 435px;
                    padding: 6px 13px 6px 13px;
                    border-radius: 5px;
                    border: 0px;
                    background-color: white;

                    & i {
                        font-weight: bold;
                        color: $fiu-blue;
                    }
                }
            }
        }
    }
  
    @media (min-width: 576px) {
        .intro-wrapper {
            & video {
                height: 550px;
            }
        }
        .intro-vid-bg {
            width: 100%;
            height: 550px;

            & .vid-content {
                & button {
                    position: absolute;
                    top: 530px !important;
                }
            }
        }
    }
    @media (min-width: 1024px) {
        .intro-wrapper {
            & video {
                height: 700px;
            }
        }

        .intro-vid-bg {
            width: 100%;
            height: 700px;

            & .vid-content {
                & button {
                    position: absolute;
                    top: 680px !important;
                }
            }
        }
    }
}


/***** Campus & Community Section ***/

@mixin campus-community-section {
    padding:20px;
    padding-top:40px;
    padding-bottom:40px;
    a {
        text-decoration: none;
    }
    .c-c-wrapper {
        padding:20px;
        transition: border-color 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;
        display: block;
        border: solid 1px #DDD !important;
        background-color: white;
        max-width: 930px;
        margin:auto;
    }
    .c-c-wrapper:hover {
        box-shadow: #d4d4d4 0 0 7px;
        border: solid 1px #c4c4c4 !important;
    }

    .c-c-content {
        & .c-c-img-div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            & img {
                max-width: 350px;
                width: 100%;
                height: auto;
                margin-left:auto;
                margin-right:auto;
            }
        }
        & .c-c-text {
            padding-top:5px;
            
            & p {
                color: #333;
            }
            & span {
                color: #505050;
                font-size: 12px;
                font-weight: 700;
                padding-bottom: 5px;
            }
            & h5 {
                color: $fiu-blue;
            }
        }
    }

    a {
        padding:0;
    }
    .no-gutters {
        margin-right: 0;
        margin-left: 0;

        >.col,
        >[class*="col-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }

    @media (min-width: 576px) {        
        .c-c-content {
            & .c-c-text {
                padding-left:20px;
                padding-right:20px;
            }

            & .c-c-img-div {
                order: 1;
            }
            & .c-c-text {
                order: 2;
            }
        } 
    }
}













/***** Mobile Close Button ***/

@mixin mobile-close-button {
    a.close-button {
        display: flex;
        justify-content: end;
        margin-top: 12px;
        margin-bottom: 12px;
        text-decoration: none;
        color: $fiu-blue;

        & span,
        i {
            padding-top: 5px;
            padding-bottom: 5px;
            font-weight: bold;
        }

        & i {
            position: relative;
            top: 0.9px;
        }
    }

    @content
}



/***** Mobile Search Tab ***/

@mixin mobile-search-links {
    h5 {
        font-weight:bold;
        color:$fiu-blue;
    }
    li {
        margin: 0 10px 10px 10px;
        padding: 10px;
        list-style: none;
        background-color: $fiu-gray;
        & a {
            text-decoration: none;
            color:$fiu-blue;
            display: flex;
            align-items: center;
        }
        & i {
            font-size: 16px;
            margin-left: 10px;
            margin-right: 10px;
            font-weight: bold;
        }

        & span {
            font-weight: 600;
            font-size: 16px;
        }
    }
    .info-for {
        margin-top:16px;
    }
    .info-for-li {
        & a {
            margin-left:15px;
        }
    }
}


/***** Mobile Menu Tab ***/

@mixin mobile-menu {
    color: white;
    margin:0;
    padding:0;
    .menu-home-button {
            padding: 15px;
            padding-right:32px;
            padding-left:32px;
            background-color: $fiu-blue;
            & a {
                color: white !important;
            }
    }
    #mobile-menu-dropdown {
        li.dropdown-list {
            list-style: none;
            & button.dropdown-button {
                 display: flex;
                 align-items: center;
                 justify-content: space-between;
                 width: 100%;
                 height: 53.5px;
                 border: none;
                 padding: 0;
                 border-bottom: 0.5px solid $fiu-blue;
                 padding-right:15px;
                 padding-left:32px;
                 background-color: $fiu-blue-lighter;
                 color: white;
                 font-weight: 600;
                 outline: none;
                 & img {
                     width: 20px;
                     height:auto;
                 }
            }
            & ul.dropdown-items {
                display: none;
                padding:0;
                margin:0;
                li {
                    animation: slide 0.3s cubic-bezier(.76, .01, .59, 1.02);
                    list-style: none;
                    height: 53.5px;
                    display: flex;
                    align-items: center;
                    padding-left: 32px;
                    border-bottom: 0.5px solid #dcdcdc;
                    background-color: white;
                    & a {
                        color: $fiu-blue;
                        & span {
                            font-weight: 600;
                        }
                    }
                }
            }

            /** Background Color for Menu dropmenu lists **/
            & ul.about li:nth-last-of-type(-n+1) {
                background-color: $fiu-gray-menu !important;
            }
            & ul.locations li:nth-last-of-type(-n+4) {
                background-color: $fiu-gray-menu !important;
            }
            & ul.admissions li:nth-last-of-type(-n+3) {
                background-color: $fiu-gray-menu !important;
            }
            & ul.academics li:nth-last-of-type(-n+5) {
                background-color: $fiu-gray-menu !important;
            }
            & ul.research li:nth-last-of-type(-n+3) {
                background-color: $fiu-gray-menu !important;
            }
            & ul.student-life li:nth-last-of-type(-n+2) {
                background-color: $fiu-gray-menu !important;
            }
            & ul.athletics li:nth-last-of-type(-n+3) {
                background-color: $fiu-gray-menu !important;
            }
            & ul.alumni li:nth-last-of-type(-n+3) {
                background-color: $fiu-gray-menu !important;
            }
        }
    }

}

/***** Mobile Menu Dropdown JS ***/

@mixin menu-dropdown-js {
    #mobile-menu-dropdown {
        .active {
            display: flex !important;
            flex-direction: column;
            @keyframes slide {
                from {
                    font-size:0;
                    height:0;
                }

                to {
                    max-height: 100%;
                }
            }
        }



        button.dropdown-button {
            & i {
                .rotatingup {
                    animation: rotateup 1s;
                }

                .arrow {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}


