@import "variables.scss";
@import "mixins.scss";

body {
    @include headings;
}

/***** Mobile Navbar ***/

#navbar {
    @include mobile-navbar;
}

/***** Intro Vid Section ***/

#intro-vid-section {
    @include intro-vid-sec;
}

/***** Campus & Community Section ***/



// #campus-community-section {
//     .c-c-wrapper {
//         @include make-container();
//     }

//     .c-c-content {
//         @include make-row();
//     }

//     .c-c-img-div {
//         @include make-col-ready();

//         @include media-breakpoint-up(xs) {
//             @include make-col(12);
//         }

//         @include media-breakpoint-up(sm) {
//             @include make-col(6);
//         }
//     }

//     .c-c-text {
//         @include make-col-ready();

//         @include media-breakpoint-up(xs) {
//             @include make-col(12);
//         }

//         @include media-breakpoint-up(sm) {
//             @include make-col(6);
//         }
//     }
// }

// @import "../node_modules/bootstrap/scss/bootstrap";
// @import "../node_modules/bootstrap/scss/mixins";



/***** Mobile Search Tab ***/

#search-mobile-tab {
    @include mobile-close-button;
    
    .form-control {
        height:auto;
    }
    .input-group-text {
        background-color: $fiu-yellow;
    }

    #search-links {
        @include mobile-search-links;
    }
}


/***** Mobile Menu Tab ***/

#menu-mobile-tab {
    background-color: $fiu-blue-lighter;
    height:100vh;
/***** Mobile Menu Dropdown JS ***/
    @include menu-dropdown-js;
/***************************** ***/

    @include mobile-close-button {
        .close-button {
            padding-right: 15px;
            & span, i {
                color: white;
                font-weight:500;
            }
        }
    }
    
    @include mobile-menu;
}

