@import "variables.scss";
@import "mixins.scss";

body {
    
}

/***** Mobile Navbar ***/

#navbar {
    align-items: center;
    @include logo;

    .global-tools {
        @include global-tools;
        @include global-tools-anchor;
        color: $fiu-blue;
        span {
            font-size: $global-tools-font-size;
        }
    }
}


/***** Mobile Search Tab ***/

#search-mobile-tab {
    @include mobile-close-button;
    
    .form-control {
        height:auto;
    }
    .input-group-text {
        background-color: $fiu-yellow;
    }

    #search-links {
        @include mobile-search-links;
    }
}


/***** Mobile Menu Tab ***/

#menu-mobile-tab {
    background-color: $fiu-blue-lighter;
    height:100vh;
/***** Mobile Menu Dropdown JS ***/
    @include menu-dropdown-js;
/***************************** ***/

    @include mobile-close-button {
        .close-button {
            padding-right: 15px;
            & span, i {
                color: white;
                font-weight:500;
            }
        }
    }
    
    @include mobile-menu;
}

/***** SWUP ***/

.transition-fade {
    transition: 0.4s;
    
}

html.is-animating .transition-fade {
    
    transform: translateX(100vw);
}


