/***** Mobile Navbar ***/
/***** Mobile Close Button ***/
/***** Mobile Search Tab ***/
/***** Mobile Menu Tab ***/
/***** Mobile Menu Dropdown JS ***/
/***** Mobile Navbar ***/
#navbar {
  align-items: center;
}
#navbar .fiu-logo {
  margin: 5px 0 5px 15px;
}
#navbar img {
  max-width: 100%;
  height: 30px;
}
#navbar .global-tools {
  color: #081E3f;
}
#navbar .global-tools i, #navbar .global-tools span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#navbar .global-tools i {
  font-weight: bold;
}
#navbar .global-tools a {
  text-decoration: none;
  color: #081E3f;
  font-weight: 500;
  margin-right: 15px;
  padding: 5px 0 5px 0;
}
#navbar .global-tools a:hover {
  background-color: #f1f1f1;
}
#navbar .global-tools #search {
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 0px;
}
#navbar .global-tools #menu {
  padding-left: 9.2px;
  padding-right: 9.2px;
}
#navbar .global-tools span {
  font-size: 12px;
}

/***** Mobile Search Tab ***/
#search-mobile-tab a.close-button {
  display: flex;
  justify-content: end;
  margin-top: 12px;
  margin-bottom: 12px;
  text-decoration: none;
  color: #081E3f;
}
#search-mobile-tab a.close-button span,
#search-mobile-tab a.close-button i {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}
#search-mobile-tab a.close-button i {
  position: relative;
  top: 0.9px;
}
#search-mobile-tab .form-control {
  height: auto;
}
#search-mobile-tab .input-group-text {
  background-color: #F8C93E;
}
#search-mobile-tab #search-links h5 {
  font-weight: bold;
  color: #081E3f;
}
#search-mobile-tab #search-links li {
  margin: 0 10px 10px 10px;
  padding: 10px;
  list-style: none;
  background-color: #efefef;
}
#search-mobile-tab #search-links li a {
  text-decoration: none;
  color: #081E3f;
  display: flex;
  align-items: center;
}
#search-mobile-tab #search-links li i {
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}
#search-mobile-tab #search-links li span {
  font-weight: 600;
  font-size: 16px;
}
#search-mobile-tab #search-links .info-for {
  margin-top: 16px;
}
#search-mobile-tab #search-links .info-for-li a {
  margin-left: 15px;
}

/***** Mobile Menu Tab ***/
#menu-mobile-tab {
  background-color: #112D54;
  height: 100vh;
  /***** Mobile Menu Dropdown JS ***/
  /***************************** ***/
  color: white;
  margin: 0;
  padding: 0;
}
#menu-mobile-tab #mobile-menu-dropdown .active {
  display: flex !important;
  flex-direction: column;
}
@keyframes slide {
  from {
    font-size: 0;
    height: 0;
  }
  to {
    max-height: 100%;
  }
}
#menu-mobile-tab #mobile-menu-dropdown button.dropdown-button i .rotatingup {
  animation: rotateup 1s;
}
#menu-mobile-tab #mobile-menu-dropdown button.dropdown-button i .arrow {
  width: 100%;
  height: 100%;
}
#menu-mobile-tab a.close-button {
  display: flex;
  justify-content: end;
  margin-top: 12px;
  margin-bottom: 12px;
  text-decoration: none;
  color: #081E3f;
}
#menu-mobile-tab a.close-button span,
#menu-mobile-tab a.close-button i {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}
#menu-mobile-tab a.close-button i {
  position: relative;
  top: 0.9px;
}
#menu-mobile-tab .close-button {
  padding-right: 15px;
}
#menu-mobile-tab .close-button span, #menu-mobile-tab .close-button i {
  color: white;
  font-weight: 500;
}
#menu-mobile-tab .menu-home-button {
  padding: 15px;
  padding-right: 32px;
  padding-left: 32px;
  background-color: #081E3f;
}
#menu-mobile-tab .menu-home-button a {
  color: white !important;
}
#menu-mobile-tab #mobile-menu-dropdown li.dropdown-list {
  list-style: none;
  /** Background Color for Menu dropmenu lists **/
}
#menu-mobile-tab #mobile-menu-dropdown li.dropdown-list button.dropdown-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 53.5px;
  border: none;
  padding: 0;
  border-bottom: 0.5px solid #081E3f;
  padding-right: 15px;
  padding-left: 32px;
  background-color: #112D54;
  color: white;
  font-weight: 600;
  outline: none;
}
#menu-mobile-tab #mobile-menu-dropdown li.dropdown-list button.dropdown-button img {
  width: 20px;
  height: auto;
}
#menu-mobile-tab #mobile-menu-dropdown li.dropdown-list ul.dropdown-items {
  display: none;
  padding: 0;
  margin: 0;
}
#menu-mobile-tab #mobile-menu-dropdown li.dropdown-list ul.dropdown-items li {
  animation: slide 0.3s cubic-bezier(0.76, 0.01, 0.59, 1.02);
  list-style: none;
  height: 53.5px;
  display: flex;
  align-items: center;
  padding-left: 32px;
  border-bottom: 0.5px solid #dcdcdc;
  background-color: white;
}
#menu-mobile-tab #mobile-menu-dropdown li.dropdown-list ul.dropdown-items li a {
  color: #081E3f;
}
#menu-mobile-tab #mobile-menu-dropdown li.dropdown-list ul.dropdown-items li a span {
  font-weight: 600;
}
#menu-mobile-tab #mobile-menu-dropdown li.dropdown-list ul.about li:nth-last-of-type(-n+1) {
  background-color: #f5f5f5 !important;
}
#menu-mobile-tab #mobile-menu-dropdown li.dropdown-list ul.locations li:nth-last-of-type(-n+4) {
  background-color: #f5f5f5 !important;
}
#menu-mobile-tab #mobile-menu-dropdown li.dropdown-list ul.admissions li:nth-last-of-type(-n+3) {
  background-color: #f5f5f5 !important;
}
#menu-mobile-tab #mobile-menu-dropdown li.dropdown-list ul.academics li:nth-last-of-type(-n+5) {
  background-color: #f5f5f5 !important;
}
#menu-mobile-tab #mobile-menu-dropdown li.dropdown-list ul.research li:nth-last-of-type(-n+3) {
  background-color: #f5f5f5 !important;
}
#menu-mobile-tab #mobile-menu-dropdown li.dropdown-list ul.student-life li:nth-last-of-type(-n+2) {
  background-color: #f5f5f5 !important;
}
#menu-mobile-tab #mobile-menu-dropdown li.dropdown-list ul.athletics li:nth-last-of-type(-n+3) {
  background-color: #f5f5f5 !important;
}
#menu-mobile-tab #mobile-menu-dropdown li.dropdown-list ul.alumni li:nth-last-of-type(-n+3) {
  background-color: #f5f5f5 !important;
}

/***** SWUP ***/
.transition-fade {
  transition: 0.4s;
}

html.is-animating .transition-fade {
  transform: translateX(100vw);
}

/*# sourceMappingURL=output.css.map */
